button.tcr-colla-button {
  width: 100%;
  padding: 0;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: keep-all;
  user-select: none;
  cursor: pointer;
}

.tcr-colla-string {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: keep-all;
  width: 100%;
  cursor: default;
}

.tcr-code-pre {
  margin-bottom: 0;
}

.cell-popver > .ant-popover-inner-content {
  padding: 6px 12px;
}

.cell-popver > .ant-popover-inner-content > .inner-label {
  font-size: 12px;
  padding: 2px 0;
}

.list-global {
  display: inline-block;
  line-height: 16px;
}
